




body {
    background: #FBFBFB;

}

.img {
    max-width: 100%;
}

.produto_imgs {
    float: left;
    width: 50%;
    margin: 10px 25%;
    padding: 30px;
    background: #FFF;
    box-shadow: 0 0 5px 2px #CCC;
    
}

.produto_imgs h1 {
    font-size: 1.3em;
    margin-bottom: 20px;
    font-weight: 500;
    text-align: center;
}
        
.thumbs {
    float: left;
    width: 100%;
    margin-top: 20px;
    padding: 2.5px;
    background: #EEE
    
}
        
.thumbs img {
    float: left;
    width: 10%;
    padding: 2.5px;
    background: #EEE;
    cursor: pointer;
}


.thumbs img:hover,

.thumbs img.active{
     background: #99CCFF;
}

.cover img {
    display: block;
    margin-left: auto;
    margin-right: auto }
    

}

.thumbs  {
    display: block;
    margin-left: auto;
    margin-right: auto 
    

}

        

